@import "bootstrap/scss/bootstrap";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");

$primary: #003049;

body {
    background: linear-gradient(60deg, #07354E 20%, #0E415D 20%, #0E415D 40%, #15506D 40%, #15506D 60%, #1B5779 60%, #1B5779 80%, #276386 80%);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: #003049;
    font-family: 'Noto Sans', sans-serif;
}

.btn {

    &.btn-primary {
        background-color: $primary;
        border-color: $primary;

        &:hover {
            background-color: darken($primary, 10%);
            border-color: darken($primary, 10%);
        }

        &:active {
            background-color: darken($primary, 20%);
            border-color: darken($primary, 20%);
        }

        &:focus {
            box-shadow: 0 0 0 0.2rem rgba(0, 48, 73, 0.5);
        }
    }
}

.bg {
    &-primary {
        background-color: $primary !important;
        color: #fff;

        .btn-close {
            color: #fff !important;
        }
    }
}

.dropdown {
    &-item {
        &.active, &:active {
            background-color: $primary;
            color: #fff;
        }
    }
}
